html{
    box-sizing: border-box;
}
// html,
// body{
//     position: relative;
//     overflow-x: hidden;
// }
body{
    color: $text;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,
ol,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}