@import "vars";
@import "fonts";
@import "global";

.header{
    &__top-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 122px;
        font-weight: 700;
    }
    .menu__item{
        display: inline-block;
        font-size: 20px;

        & + .menu__item{
            margin-left: 50px;
        }
    }
    &__box{
        display: flex;
        
    }
    &__address{
        margin-right: 60px;
        width: 265px;
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/marker-address.svg');
            width: 30px;
            height: 30px;
            left: 0;
            top: -8px;
        }
    }
    .user__list{
        margin-right: 15px;
    }
    .user-list__item{
        display: inline-block;
        padding-right: 10px;
    }
    .basket{
        position: relative;
    }
    .basket__num{
        position: absolute;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        color: #fff;
        background-color: $blu;
        border-radius: 50%;
        text-align: center;
        right: -13px;
        bottom: -3px;

    }
    &__bottom{
        margin-bottom: 80px;
    }
    .menu-categories{
        background-color: $base;
        min-height: 53px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: capitalize;

    }
    .menu-categories__item{

    }
    .menu-categories__link{
        transition: all .3s;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        padding: 15px 0 14px;
        position: relative;
        color: $text;
        &::before{
            content: '';
            position: absolute;
            width: 0%;
            left: auto;
            right: 0;
            bottom: -3px;
            background-color: $blu;
            height: 3px;
            transition: all .3s;
        }
        &:hover{
            // border-bottom: 3px solid $blu;
            color: #000;
            transition: all .3s;

            &::before{
                left: 0;
                width: 100%;
                right: auto;
                transition: all .3s;
            }
        }
    }
}







.banner-section{
   
    &__inner{
        display: flex;
        justify-content: space-between;
        // min-width: 0;

    }
    &__slider{
       max-width:  870px; 
    }
    .banner-section__slider-img{
        object-fit: cover;
        min-height: 400px;
    }
    .slick-slider{
        margin-bottom: -5px;
    }
    .banner-section__slider-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        cursor: pointer;
        border: none;
        z-index: 5;
        &--left{
            left: 20px;
        }
        &--right{
            right: 20px;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        text-align: center;
      
        li{
            display: inline-block;
            padding: 0 5px;
            
        }
        button{
            padding: 0;
            font-size: 0;
            line-height: 0;
            width: 11px;
            height: 11px;
            border: 1px solid #fff;
            border-radius: 50%;
            background-color: transparent;
        }
        .slick-active{
            button{

                background-color: #fff;
            }
        }
       
    }
    .sale-item{
        width: 265px;
        text-align: center;
        border: 1px solid #CDCDCD;
        box-sizing: border-box;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-start;
        // align-items: center;
        // display: block;
    }
    .sale-item__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .sale-item__info{
        color: #fff;
        text-transform: uppercase;
        background-color: $blu;
        padding: 8px 20px ;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;

    }

    .sale-item__price{
        text-align: right;
    }
    .price{
        position: relative;
        font-family: 'Barlow', sans-serif;
    }
    .sale-item__price-new{
        font-weight: bold;
        color: $blu;
        font-size: 27px;
        line-height: 32px;
        margin-right: 7px;
        padding-right: 20px;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 8px;
            background-image: url('../images/icons/icon-price.svg');
            width: 15px;
            height: 18px;
        }
    }
    .sale-item__price-old{
        color: $grey;
        font-size: 14px;
        line-height: 17px;
        margin-right: 12px;
        // padding-right: 17px;
        background-image: url('../images/icons/old-line.svg');
        display: inline-block;
        padding: 2px 5px ;
        background-repeat: no-repeat;
        &::after{
            content: '';
            position: absolute;
            right: -10px;
            top: 5px;
            background-image: url('../images/icons/icon-price-old.svg');
            width: 8px;
            height: 10px;
        }
    }

    .sale-item__img{
        object-fit: contain ;
        margin: 0 auto;
    }
    .sale-item__title{
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .sale-item__footer{
        background-color: $base;
        padding: 28px 20px 25px;
        font-size: 18px;
        line-height: 21px;
        span{
            color: $blu;
            display: block;
            font-family: 'Barlow', sans-serif;
            font-weight: 700;
        }
    }
}











.search{

    &__tabs{
        margin-bottom: 25px;
    }
    &__tabs-item{
        padding: 11px 26px 12px;
        &.tab--active{
            border-radius: 5px;
            background-color: $base;
            font-weight: 700;
        }
    }
   
    
    &__content-form{
        display: flex;
    }
    &__content-btn{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        color: #fff;
        background-color: $blu;
        border: none;
        border-radius: 3px;
        padding: 17px 41px;
        margin-left: -3px;
    }
    &__content-input{
        background-color: $base;
        border-radius: 3px;
        padding: 5px 20px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        background-color: $base;
        width: 100%;
        &::placeholder{
            color: #656464;
            background-color: $base;
        }
    }
}
.tabs-content{
    display: none;
}
.tabs-content.tabs-content--active{
    display: block ;
}






.categories{
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        margin-bottom: 30px;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        width: 370px;
        display: flex;
        padding: 20px 20px 16px;
        justify-content: space-between;
        transition: all .3s;
        &:hover{
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            transition: all .3s;
            .categories__item-title{
                color: $blu;
                transition: all .3s;
            }
        }
    }
    &__item-info{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item-img{
        // text-align: center;
        margin: 0 auto;
        img{
            max-width: 100%;
            display: inline-block;
        }
    }
    &__item-title{
        font-size: 23px;
        line-height: 28px;
        font-weight: 700;
        font-family: 'Barlow', sans-serif;
        transition: all .3s;
    }
    &__item-text{
        font-size: 14px;
        line-height: 17px;
        color: $grey;
        position: relative;
        &::after{
            content: url('../images/icons/link-arrow.svg');
            position: absolute;
            padding-left: 2px;
        }
    }
}



.products{
    &__title{
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    &__tabs{
        margin-bottom: 50px;
    }
    &__tab{
        padding-bottom:  10px;
        & + .products__tab{
            margin-left: 50px;
        }
        &.tab--active{
            border-bottom: 2px solid $blu;
        }
    }
    &__slider{
        // display: flex;
        align-items: center;
    }
}
.slick-slide img{
    display: inline;
}
.products__slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 5;
    &--left{
        left: -40px;
    }
    &--right{
        right: -20px;
    }
}
.product-item{
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
    min-height: 400px;
    width: 100%;
    &--sale{
        &::before{
            content: 'SALE';
            position: absolute;
            padding: 8px 15px ;
            background-color: $blu;
            left: 0;
            top: 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.07em;
            font-weight: 400;
        }
    }
    &:hover{
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        color: $blu;
        .product-item__hover-text{
            opacity: 1;
            color: $text;
        }
        .product-item__notify-text{
            color: $text;

        }
    }
    &__wrapper{
        position: relative;
        width: 271px;
        transition: all 0.5s;
        &.product-item__wrapper--list{
            width: 100%;
        }
        &.product-item__not-available{
            .product-item__price{
                display: none;
            }
            .product-item__notify-text{
                display: block;
                font-size: 18px;
                line-height: 21px;
                font-weight: 700;
                transition: all .5s;
            }
            .product-item__basket{
                display: none;
            }
            .product-item__notify-link{
                display: block;
                position: absolute;
                bottom: 20px;
                font-size: 16px;
                line-height: 19px;
                color: $blu;
                text-align: center;
                left: 0;
                right: 0;
                span{
                    border-bottom: 1px solid $blu;

                }
            }
            .product-item__title{
                padding-bottom: 13px;
            }
        }
    }
    &__img{
        max-width: 100%;
    }
    &__title{
        font-weight: 400;
        padding: 14px 0 25px;
        font-size: 18px;
        line-height: 21px;
    }
    &__favorite{
        position: absolute;
        top: 16px;
        right: 19px;
        width: 24px;
        height: 22px;
        border: none;
        background-color: transparent;
        outline: none;
        &::before{
            content: '';
            position: absolute;
            width: 24px;
            height: 22px;
            top: 0;
            left: 0;
            background-image: url('../images/icons/heart.svg');
        }
        &.product-item__favorite--active{
            &::before{
                background-image:url('../images/icons/heart-active.svg') ;
            }
        }
    }
    &__price{
        font-weight: 700;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }
    &__basket{
        position: absolute;
        width: 60px;
        height: 40px;
        background-color: $blu;
        border-radius: 10px 0px 0px 0px;
        bottom: 0;
        right: 0;
        border: none;
        padding-top: 7px;
        cursor: pointer;
    }
    &__hover-text{
        padding: 18px 21px;
        background-color: rgba(#fff, 0.9);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        position: absolute;
        border-radius: 3px;
        top: 30%;
        opacity: 0;
        display: inline-block;
        transition: all .3s;
    }
    .product-item__notify-text{
        display: none;
    }
    &__notify-link{
        display: none;
    }
}
.product__more{
    text-align: center;
    margin-top: 35px;
}
.product__more-link{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: $base;
    padding: 17px 43px 15px;
}





.footer{
    background-color: $base;
}
.footer-top{
    padding-top: 43px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item-newsletter{
        &.footer-top__item{
            width: 295px ;
            margin-right: 50px;

        }
    }
    &__title{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }
    &__form{
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
        
    }
    &__input{
        background-color: #fff;
        border: none;
        padding: 0 12px;
        
        &::placeholder{
            font-size: 14px;
            line-height: 17px;
            color: $grey;
        }
    }
    &__btn{
        text-transform: uppercase;
        padding: 10px 16px;
        background-color: $blu;
        border: none;
        color: #fff;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.12em;
    }
    &__item{
        width: 200px;
    }
    &__item-social{
        &.footer-top__item{

            width: 250px;
        }
    }
}
.footer-list{
    font-size: 14px;
    line-height: 22px;
}
.social-list{
    display: flex;
    align-items: center;
    height: 100%;
    &__item{
        & + .social-list__item{

            margin-left: 30px;
        }
    }
}
.footer-bottom{

    padding: 46px 0 27px;
    display: flex;
    justify-content: center;
    &__link{

        font-size: 10px;
        line-height: 12px;
        color: #48494D;
        margin: 0 40px;
    }
}





.breadcrumbs{
    margin-bottom: 40px;
    &__list-item{
        display: inline-block;
        padding-right: 16px;
        margin-right: 10px;
        position: relative;
        font-size: 15px;
        line-height: 18px;
        color: $grey;

        &::before{
            content: '';
            position: absolute;
            right: 0;
            background-image: url('../images/icons/link-arrow.svg');
            width: 6px;
            height: 10px;
            bottom: 3px;
        }
        &:last-child::before{
            display: none;
        }
    }
}








.catalog{
    margin-bottom: 100px;
    &__title{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 26px;
    }
    &__filter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__filter-item{
        button{
            font-size: 14px;
            line-height: 17px;
            background-color: $base;
            border-radius: 3px;
            border: none;
            padding: 5px 22px;
            opacity: 0.7;
            cursor: pointer;
            & + button{
                margin-left: 8px;
            }
        }
    }
    &__filter-btn{
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            & + button{
                margin-left: 10px;
            }
        }
    }
    button.catalog__filter-btngrid{

    }
    button.catalog__filter-btnline{
    }
    &__inner{
        display: flex;
    }
    &__inner-aside{
        min-width: 290px;
        margin-right: 10px;
    }
    &__inner-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .product-item__wrapper{

            margin-bottom: 30px;
        }
    }
}



.pagination{
    width: 100%;
    margin-top: 70px;
    
}
.pagination-list{
    display: flex;
    justify-content: center;

    &__item{
        padding: 6px 12px;
        border: 2px solid transparent;
        margin: 0 4px;
        font-size: 18px;
        line-height: 22px;
        color: $grey;
        &.active{
            border: 2px solid $blu;
            color: $blu;
    
        }
        a{
            display: block;
        }
    }
}




.aside-filter{
    &__tabs{
        display: flex;
        justify-content: space-between;
    }
    &__tab{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: $grey;
        width: 50%;
        // text-align: center;
        &.tab--active{
            font-weight: 700;
            color: $text;
            span{
                display: inline-block;
                padding-bottom: 7px;
                border-bottom: 2px solid $blu;
            }
        }
    }
    &__item-drop{
        margin: 40px 0;
    }
    &__item-title{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-left: 26px;
        &.filter__item-drop{
            position: relative;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                bottom: 5px;
                background-image: url('../images/icons/arrow-bottom.svg');
                width: 12px;
                height: 8px;
            }
            &--active{
                &::before{

                    transform: rotate(180deg);
                }
            }
        }
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    &__content-box{
        width: 50%;
        margin-top: 10px;
    }
    &__content-label{
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
    }
    &__content--radio{
        flex-wrap: nowrap;
    }
}

.jq-checkbox, .jq-radio{
    box-shadow: none;
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid $grey;
    border-radius: 1px;
    vertical-align: -1px;
    margin: 0 8px 0 0;
    &.checked{
        background: $blu;
        border: none;
    }
}
.jq-checkbox.checked {

    .jq-checkbox__div{
        width: 8px; 
        height: 6px;
        margin: 4px 0 0 3px;
        border-bottom: none;
        border-left: none;
        transform: rotate(0);
        background-image: url('../images/icons/check.svg');
    }
}
.jq-radio.checked{
    .jq-radio__div{

        width: 0px;
        height: 0px;
        margin: 0;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }
}
// .jq-checkbox.focused,
// .jq-radio.focused{
//     border: none;
// }
.irs--flat.irs-with-grid{
    width: 100%;
}
.irs--flat{
    width: 100%;
    margin-top: -15px;
    .irs-max,
    .irs-min{
        top: 55px;
        padding: 0;
        color: $text;
        font-size: 14px;
        line-height: 17px;
        text-shadow: none;
        background-color: transparent;
        border-radius: 0;
        font-family: 'Barlow', sans-serif;
        text-decoration: underline;
        visibility: visible !important;
        padding-left: 27px;
        &::before{
            content: 'от';
            position: absolute;
            left: 0;
            // padding-right: 12px;
            font-size: 14px;
            line-height: 17px;
            color: $grey;
            text-decoration: none;
        }
    }
    .irs-max{
        &::before{
            content: 'до';
        }
    }
    .irs-line {
        top: 25px;
        height: 1px;
        background-color: #e0e0e0;
        border-radius: 4px;
        border-radius: 0;
    }
    .irs-bar {
        top: 25px;
        height: 3px;
        background-color: $blu;
    }
    .irs-handle {
        top: 22px;
        width: 8px;
        height: 8px;
        background-color: $blu;
        border-radius: 50%;
    }
}
.irs-from,
.irs-to{
    display: none;
}
.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child{
    background-color: transparent;
    &:hover{
        background-color: transparent; 
    }
}
.aside-filter__item-list{
    margin: 46px 0 40px;
}
.filter__item-list{
    padding-top: 34px;
    width: 100%;
    border-bottom: 2px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
}
.filter__item-listtitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    padding-left: 26px;
}
.filter__item-listselect{
    font-size: 14px;
    line-height: 17px;
    font-family: 'Barlow', sans-serif;
    color: #48494D;
}
.jq-selectbox__select {
    height: 20px;
    padding: 0 30px 0 10px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    &:hover{
        background: transparent;
    }
    &:active{
        box-shadow: none;
    }
}
.jq-selectbox__trigger{
    position: absolute;
    top: 6px;
    right: 9px;
    width: 34px;
    height: 100%;
    border-left: none;

}
.jq-selectbox__trigger-arrow {
    position: absolute;
    border: none;
    background-image: url('../images/icons/arrow-bottom.svg');
    width: 12px;
    height: 8px;
    top: 0;
    right: 0;
}
.jq-selectbox.focused .jq-selectbox__select{
    border: none;
}
.jq-selectbox li{
    color: rgba(0, 0, 0, 0.6);
    &:hover{
        color: rgba(0, 0, 0, 0.6);
        background: #EFF1F7;
    }
    
}
.jq-selectbox li.selected{
    background: #EFF1F7;
    color: rgba(0, 0, 0, 0.6);
}
.jq-selectbox__dropdown {
    width: 100%;
    margin: 6px 0 0;
    border: 1px solid #CCC;
    border-radius: 0;
    background: #FFF;
    padding-top: 15px;
    box-shadow: none;
}
.filter-more{
    width: 100%;
    &__link{
        font-size: 14px;
        line-height: 17px;
        color: $blu;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $blu;
        padding: 0;
        margin-top: 18px;
        cursor: pointer;
    }
}
.filter-search{
    width: 100%;
    height: 30px;
    border: 1px solid #E0E0E0;
    padding: 0 20px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    &::placeholder{
        color: #BDBEC2;
    }
}
.btn-checked{
    .aside-filter__content{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .aside-filter__content-box{
        width: auto;
    }
    .aside-filter__content-label{
        position: relative;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        color: $grey;
    }
    .jq-checkbox{
        width: 63px;
        background-color: $base;
        height: 25px;
        border: none;
        
    }
    .jq-checkbox.checked{
        background-color: $blu;
        & ~ .btn-checked__text{
            color: #fff;
        }
       
    }
    .jq-checkbox.checked .jq-checkbox__div{
        display: none;

    }
    &__text{
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translateX(-57%);
        z-index: 5;
        
    }
}
.filter-btn__send{
    background: #F0F0F4;
    font-size: 15px;
    line-height: 18px;
    padding: 16px 85px ;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border: none;
    color: #BDBEC2;
    margin-bottom: 15px;
    cursor: pointer;
    &--active{
        background-color: $blu;
        color: #fff;
    }
}
.aside-filter__item-btn{
    text-align: center;
}
.filter-extra{
    font-size: 13px;
    line-height: 16px;
    padding-right: 29px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 4px;
        background-image: url('../images/icons/arrow-bottom.svg');
        width: 12px;
        height: 8px;
    }
    &.filter__item-drop--active{
        &::after{
            transform: rotate(180deg);
        }
    }
}
.filter-extra__content{
    display: none;
}
.filter-btn__reset{
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    border: none;
    color: $grey;
    border-bottom: 1px solid #C4C4C4;
    display: inline-block;
    cursor: pointer;
}
.catalog__filter-btn{
    display: flex;
    align-items: center;
}
.select-item{
    border: 1px solid #D7D9DF;
    font-size: 14px;
    line-height: 17px;
    margin-right: 34px;
    // padding: 8px 10px 8px 20px;
    .jq-selectbox__select{
        height: 100%;
        padding: 8px 50px 8px 20px;
    }
    .jq-selectbox__trigger {
        top: 14px;
        right: 20px;
       
    }
}
.catalog__filter-btngrid{
    width: 26px;
    height: 21px;
}
.catalog__filter-btnline{
    width: 25px;
    height: 19px;
}
.catalog__filter-button{
        opacity: 0.3;
        outline: none;
        &--active{
            opacity: 1;
        }
}






.product-card{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__img-box{
        width: 500px;
        padding-top: 64px;
        text-align: center;
        position: relative;
        &::before{
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.12em;
            padding: 13px 25px;
            border-radius: 3px;

        }
    }
    &__price-old{
        font-size: 30px;
        line-height: 44px;
        color: #666666;
        display: inline-block;
        background-image: url('../images/icons/old-line.svg');
        background-repeat: no-repeat;
        background-size: cover;
        }
    &__price-new{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 17px;
    }
    &__link{
        border-bottom: 1px solid $blu;
        font-size: 15px;
        line-height: 18px;
    }
    &__content{
        width: 570px;
    }
    &__content-title{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    &__code{
        font-size: 15px;
        line-height: 18px;
        color: #666666;
        margin-bottom: 21px;
    }
    &__buttons{
        margin-bottom: 50px;
    }
    &__tab{
        font-size: 20px;
        line-height: 24px;
        color: #666666;
        padding-bottom: 5px;
        padding-right: 17px;
        margin-bottom: 5px;
        & + .product-card__tab{
            padding-left: 17px;
        }
        &.tab--active{
            border-bottom: 2px solid $blu;
            font-weight: 700;
            color: $text;
        }
    }
    &__list{
        margin-bottom: 14px;
    }
    &__item{
        padding: 15px 0 6px ;
        border-bottom: 1px solid rgba($text, 0.1);
        display: flex;
        justify-content: space-between;
    }
    &__item-left{
        padding-right: 15px;
    }
    &__item-right{
        width: 125px;
    }
    &__more{
        font-size: 14px;
        line-height: 17px;
        color: $blu;
        border-bottom: 1px solid $blu;
        margin-bottom:45px;
    }
    &__btn{
        text-align: center;
        button{
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            border: none;
            padding: 16px 53px;
            color: #fff;
            cursor: pointer;
            background-color: $blu;
            border-radius: 3px;
        }
    }
    &__buttons{
        a + a{
            margin-left: 30px;
        }
    }
}




.card__tab-box{
    background-color: $base;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0 ;
    margin-bottom: 50px;
}
.card__tab{
    color: rgba($text, 0.6);
    padding-right: 5px;
    &.tab--active{
        border-bottom: 2px solid $blu;
        color: $text;
    }
}
.card{
    &__top-line{
        margin-bottom: 10px;
    }
    &__label-search{
        font-size: 17px;
        line-height: 20px;
        color: rgba($text, 0.7);
    }
    &__input-search{
        background: $base;
        border-radius: 3px;
        padding: 9px 37px 9px 17px;
        border: none;
        margin-left: 17px;
        margin-right: 100px;
    }
    &__label-pickup{
        margin-left: 54px;
        font-size: 17px;
        line-height: 20px;
        color: rgba($text, 0.7);
    }
    &__list-item{
        padding: 20px 0;
        border-bottom: 1px solid rgba($text, 0.1);
        display: flex;
        color: rgba($text, 0.7);
        font-size: 16px;
        line-height: 24px;
    }
    &__list-itemtitle{
        font-size: 20px;
        line-height: 24px;
        color: $text;
    }
    &__list-address{
        width: 220px;
        margin-right: 80px;
    }
    &__list-workhouse{
        width: 157px;
        margin-right: 96px;
        .workhouse{
            display: flex;
            justify-content: space-between;
        }
    }
    &__list-avialable{
        width: 140px;
        margin-right: 60px;
    }
    &__list-num{
        width: 104px;
    }
    &__list-btn{
        margin-left: auto;
        button{
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.12em;
            color: #FFFFFF;
            border-radius: 3px;
            background-color: $blu;
            border: none;
            padding: 9px 40px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}
